doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900,300italic')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title History Of Open Web Standards

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article
      //.giffy(style="background-image: url(/images/yogscast.gif)")
      section.giffy(style="background-image: url(/images/7mkU7FK.gif)")
        h1 Open Web Technologies:<br> A History & Introduction

      section
        h2 An Open Skill Session For Engagement
        h3 Presented By:
          hr
          p
            img(src='/images/bensternthal.jpg', height='100') 
            <br>
            |Benjamin Sternthal @bensternthal - History
          p
            img(src='/images/Craig-Cook.jpg', height='100') 
            <br>            
            |Craig Cook @craigcook - {Insert Summary}
          p
            img(src='/images/billwalker.jpg', height='100') 
            <br>              
            |Bill Walker @wfwalker - {Insert Summary}
        aside
          h2 People Introductions What They Do
            |Craig Cook is a senior front end engineer on the Brand team
            |Bill stuff
            |{what will you get out of this talk}
            |Setup next slide.. do whatever you need to do to stay awake    

  
      section.giffy(style="background-image: url(/images/glue.gif)")

      section
        h2.bullet This Is A Brief History
        ul
          li Of how open standards came to be ...
          li and 
          li ... how the battle fought on the desktop is now being fought on our phones.

      section.giffy(style="background-image: url(/images/manifesto.png)")

      section
          h2 Out Story Begins On 8/19/91

      section.giffy(style="background-image: url(/images/Tim-Berners-Lee.png)")
        strong      
          |This project is experimental and of course comes without any warranty  
          |whatsoever. However, it could start a revolution in information access. We are  
          |currently using WWW for user support at CERN. We would be very interested in  
          |comments from anyone trying WWW, and especially those making other data  
          |available, as part of a truly world-wide web. 

        aside
          |Tim-Berners-Lee original post to usenet announcing public release of WorldWideWeb hypertext browser/editor.
          |Even here you can see the seeds of collaboration.
          <br>
          | Note way before this open standards had been succesfull note tcp/ip from 1979
          <br>
          | Layering of open standards on existing open standards.

      section
          h2.bullet Things Moved Fast
          ul
            li 
              strong 1993 
              ul
                li CERN agrees to allow anyone to use Web protocol and code royalty-free.
                li NCSA release first alpha version of Marc Andreessen's "Mosaic for X"
                li WWW (Port 80 HTTP) traffic measures 0.1% of NSF backbone traffic. 
            li 
              strong 1994
              ul
                li Marc Andreessen and colleagues leave NCSA to form "Mosaic Communications Corp" (later Netscape).
                li World Wide Web Consortium founded. 
            li
              strong 1997
              ul
                li W3C publishes first W3C Recommendation for HTML — HTML 3.2.
                li IE 4 Released (Bundled With Windows)
                li Browser Wars

          aside
            |W3C founded to lead the World Wide Web to its full potential by developing protocols and 
            |guidelines that ensure the long-term growth of the Web.             
            <br>
            |Note w3c does not publish strict standards but rather strong recommendations.
            |IE rapidly overtook netscape in market penetration. 1st browser war saw ms throwing money
            |at IE and dominating the market.

      section
          h2 Let's Talk About Microsoft    
          
      section.giffy-fit(style="background-image: url(/images/ie.gif)")

      section 
        h2 IE Goes Rogue
        <br>
        img(src='/images/border-box-model.png') 
        aside
          |IE bundles a ton of Proprietary features, ignores W3c recommendations

      section.giffy(style="background-image: url(/images/yogscast.gif)")
        h2 The Web Breaks
        p.quote 
          |"Microsoft is committed to implementing the Internet standards that make sense to allow our customers to build great solutions. As standards emerge, we evaluate them to see which standards might best serve our customers' needs.""

        aside
          |Someone forgot what the word standars means
          <br>
          |Developing cross-browser websites was incredibly painful.
          |The promise of write once run everywhere failed. You had to code for ie and everybody else
          |Who knows if the features you coded against would exist in the future?
          |Supporting multiple versions of IE became even more of a pain.
          |Not just IE vs Netscape but IE6 vs IE7 vs IE8 vs Nestscape 



      section
        h2 Manifesto stuff
        p . The Manifesto sets out a vision of the Internet as a piece of infrastructure that is open, a
          !ccessible and enriches the lives of individual human beings. I
        p https://blog.lizardwrangler.com/2007/02/13/introducing-the-mozilla-manifesto/
        p This came about in 2007
        p what happened that lead us here

      section
        h2 Why Are Open Standards Critical For The Open Web
          p Its the only non-proprietarty platform. No one owns it.
          p Write once run over.
          p standards == higher change it will run in the future.
          p fragmentation is not an issue

      section
        h2 Something About The Late 90s 
          p IE4 & Netscape
          p Best viewed in
          p Proprietary feateures = build a version for each browser
          p 

      section
        h2 After 


















      //- section
      //-   h2 Syntax Highlighting
      //-   h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
      //-   hr
      //-   pre
      //-     code.language-javascript.
      //-       bespoke.from('article', {
      //-         keys: true,
      //-         touch: true,
      //-         hash: true,
      //-         state: true,
      //-         bullets: 'li, .bullet'
      //-       });

      //- section(data-bespoke-hash='named-route')
      //-   h2 Named Route
      //-   h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
      //-   p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      //- section(data-bespoke-state='emphatic')
      //-   h2 Emphatic Slide!
      //-   h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      //- section
      //-   h2.bullet Just the beginning...
      //-   hr
      //-   ul
      //-     li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
      //-     li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
      //-     li Edit JavaScript in <em>'src/scripts/main.js'</em>
      //-   hr
      //-   ul
      //-     li
      //-       strong Enjoy! :)
      //-       a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='bower_components/bespoke-convenient/dist/bespoke-convenient.min.js')
    script(src='bower_components/bespoke-indexfinger/dist/bespoke-indexfinger.min.js')
    script(src='bower_components/bespoke-secondary/dist/bespoke-secondary.min.js')
    script(src='scripts/main.js')
    // endbuild
